.background{
    position: absolute;
    margin-top: -1em;
    margin-left: 11em;
    max-height: 100%;
    max-width: 80%;
}

.foto{
    position: absolute;
    border-radius: 50%;
    max-width: 10%;
    margin-top: 15%;
    margin-left: 45%;
    border: solid 5px white;
    overflow: hidden;   
}

.text{
    position: absolute;
    margin-top: auto;
    margin-left: auto;
    font-family: 'Potta One', cursive;
    color: white;
    text-align: center;
    margin-top: 27%;
    margin-left: 41%;
}